@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Centre of Excellence for Applied Research and Training</h3>
<p>
    The Centre of Excellence for Applied Research & Train ing (CERT) is the commercial, research and training arm of the Higher Colleges of Technology (HCT), which is the largest higher education institution in the United Arab Emirates.
</p>
<p>
    Since its creation in 1996, CERT has grown to be one of the largest private education providers in the Middle East and has become synonymous with quality in education, training, research, and socioeconomic progress.
</p>
<p>
    The CERT Group of Companies, which includes CERTSoft and CERT Info Track Telematics, leverages unique relationships with global leaders in education and business to provide a wide range of educational, applied research, training and consulting services to government, private sector institutions and businesses in the UAE and the region at large.
</p>
<p>
    CERT established arguably the first Technology Park in the United Arab Emirates in 1996 realising the importance of collaborations and synergies in the fields of education, technology, research and business incubation.
</p>
<p>
    CERT is involved in strategic alliances with a number of multinational organisations to collaborate in developing a diverse range of business and technology solutions. As a result, CERT has helped thousands of professionals and companies meet their goals and achieve the next level in their development. Its strong ties with business and industry have resulted in large numbers of HCT graduates finding rewarding employment.
</p>
<p>
    CERT also leads human capital development by offering total education solutions to both corporate and individual customers. The CERT Thales Institute, a joint venture with Thales Institute of France, offers specialized, advanced technology training for the region. The CERT Institute for Languages offers instruction in several languages, and is also the sole provider of linguistic training to the UAE military.
</p>
<p>
    It has acted as the regional facilitator of the INCONET-GCC program (International Cooperation Network for Gulf Cooperation Countries) which sees 18 government and private research organizations, from Europe, the GCC and Yemen form the European Commission-funded project, where representatives will develop ways in which to promote bi-regional science and technology research partnerships and enhance interaction between the regions.
</p>
<p>
    CERT also created a strong collaborative relationship with the University of Pennsylvania’s Wharton School, one of the world’s foremost business schools, whereby a Wharton Center @@CERT was set up at CERT’s Abu Dhabi Technology.
</p>
<p>
    Through its Technology Parks, conveniently located in Abu Dhabi and Dubai, as well as its offices in Al Ain, CERT brings together a wide variety of national and multinational corporations. The Parks were established to promote the exchange of technical knowledge and expertise between the educational and business communities. In order to facilitate this exchange, CERT offers distinct incentives to resident organisations. Some of these benefits include cost-effective office facilities, high-quality specialised infrastructure, access to quality resources of the Higher Colleges of Technology, and close proximity to other hi-tech organisations.
</p>
<p>
    CERT and its partners in the Technology Park provide a myriad of business and industry solutions, including training and consultancy services to foster technology transfer; the promotion of entrepreneurship; and business incubator services for high technology entities, innovative new projects and business ventures. This concept benefits not only CERT’s partner organisations, but the United Arab Emirates and the Middle East region as a whole.
</p>
<p>
    The CERT Technology Park is home to several multinational organisations such as IBM, Microsoft, Honeywell, Thales, TRL, Canadian Business Council, University of Strathclyde, NYIT, AMIDEAST, RTI International, British Business Group, General Electric and many others. It also has local collaborations with the UAE Ministry of Interior, the Department of Finance – General Directorate of Customs Abu Dhabi and the Abu Dhabi Tawteen Council.
</p>
<p>
    The CERT Technology Park is a member of The International Association of Science Parks (IASP).
</p>
