
@{
    ViewBag.Title = "BookYourTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h3 class="text-left">
        Search for available IELTS test dates in your city
    </h3>    
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-default">
                            Action
                        </button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Another action</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="btn-group">
                        <button class="btn btn-default">
                            Action
                        </button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Another action</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-default">
                            Action
                        </button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Another action</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div class="btn-group">
                        <button class="btn btn-default">
                            Action
                        </button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li class="disabled">
                                <a href="#">Another action</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary">
                Search
            </button>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                        <h3>
                            Higher Colleges of Technology, CERT - Abu Dhabi
                        </h3>
                        <p>
                            Address: HCT, Abu Dhabi Women’s College P. O. Box 41012, Hazza Bin Zayed Street, Al Dhafrah, behind Lebanese Flower Tel: +97126941467 Office Timings: Sun, Wed, Thu (9:00 am to 4:00 pm) Email: ielts@hct.ac.ae
                        </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="tabs-bgn tabs-bgn-1">
                            Date
                        </th>
                        <th class="tabs-bgn tabs-bgn-2">
                            Module
                        </th>
                        <th class="tabs-bgn tabs-bgn-3">
                            App. Deadline
                        </th>
                        <th class="tabs-bgn tabs-bgn-4">
                            Results release
                        </th>
                        <th class="tabs-bgn tabs-bgn-5">
                            Book Now
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                        <td>
                            Book Now
                        </td>
                    </tr>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            01/04/2012
                        </td>
                        <td>
                            Approved
                        </td>
                        <td>
                            Book Now
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            02/04/2012
                        </td>
                        <td>
                            Declined
                        </td>
                        <td>
                            Book Now
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            03/04/2012
                        </td>
                        <td>
                            Pending
                        </td>
                        <td>
                            Book Now
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            TB - Monthly
                        </td>
                        <td>
                            04/04/2012
                        </td>
                        <td>
                            Call in to confirm
                        </td>
                        <td>
                            Book Now
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
