@{
    ViewBag.Title = "Contact";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        1. Higher Colleges of Technology, CERT - Abu Dhabi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address :
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Abu Dhabi Men’s College (CERT Campus)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 5464, Moroor Road, Al Saada Street, next to the Dusit Thani Hotel,
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Abu Dhabi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97124048372
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        6. Higher Colleges of Technology, CERT - Fujairah
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Fujairah Men’s College
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 4114, Sheikh Maktoum Bin Rashed Al Maktoum Road, Haleefath,
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        next to Ajman University - Fujairah
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97192011539
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        2. Higher Colleges of Technology, CERT - Abu Dhabi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address :
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Abu Dhabi Women’s College
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 41012, Hazza Bin Zayed Street, Al Dhafrah, behind Lebanese
                        Flower Restaurant
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Abu Dhabi<br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97126941467
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        7. Higher Colleges of Technology, CERT - Madinat Zayed
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Madinat Zaved College
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 58855, Baynounah, Madinat Zayed
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Abu Dhabi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97128943753
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        3. Higher Colleges of Technology, CERT - Al Ain
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address :
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Al Ain Men’s College
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 17115, Nahyan the 1st Street, Shab Al Ashkar, Al Ain, near the
                        Zoo Roundabout
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Abu Dhabi<br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97137095522
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        8. Higher Colleges of Technology, CERT - Ruwais
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Ruwais Colleges,
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 58855, ADNOC Housing Complex, Ruwais
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Abu Dhabi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97128943800
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="row">
        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        4. Higher Colleges of Technology, CERT - Dubai
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address :
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Dubai Men's College
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 15825, Dubai/Al Ain Road, E 66 Academic City Road, opposite
                        the Silicon Oasis
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Dubai<br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97144038153 / +97144038363
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        9. Higher Colleges of Technology, CERT - Ras Al Khaimah
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Ras Al Khaimah Women’s College (old campus)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 4792, Seih Al Uraibi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Abu Dhabi
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97172026391
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        5. Higher Colleges of Technology, CERT - Dubai
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address :
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Dubai Women's College
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 16062, Al Nahda 1, Al Qusais
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Dubai<br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97142089284
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card well">
                <div class="row">
                    <div class="col-md-12">
                        10. Higher Colleges of Technology, CERT - Sharjah
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Address:
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        HCT, Sharjah Men’s College,
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        P. O. Box 7946, University City, Muwaylih Suburb
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Sharjah
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Tel: +97165054579
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Office Timings: Sun – Thu (9:00 am to 4:00 pm)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        Email: ielts@hct.ac.ae
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>