@{
    ViewBag.Title = "Home Page";
}
<div class="carousel slide" id="carousel-535736">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-535736">
        </li>
        <li data-slide-to="1" data-target="#carousel-535736">
        </li>
        <li data-slide-to="2" data-target="#carousel-535736">
        </li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
            <div class="carousel-caption">
                <h4>
                    First Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>
        </div>
        <div class="item">
            <img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
            <div class="carousel-caption">
                <h4>
                    Second Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>
        </div>
        <div class="item">
            <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
            <div class="carousel-caption">
                <h4>
                    Third Thumbnail label
                </h4>
                <p>
                    Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
            </div>
        </div>
    </div> <a class="left carousel-control" href="#carousel-535736" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-535736" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>   
<div class="row">
            <div class="col-md-12 intro-text">
                <p>
                    "The HCT - CERT IELTS testing centre is one of the largest IELTS Testing Centre in the Middle East. We offer the IELTS test across all the Higher Colleges of Technology situated in the seven Emirates. 
                    IELTS is the world’s most popular English language proficiency test with over two million tests takers every year. </p>
                <p>
                    Taking IELTS opens doors; it can help you live, study and work in 135 countries around the world. More than 9,000 organisations worldwide accept IELTS, including government, academic and employment institutions - including over 3,000 institutions in the USA. 
                    In fact, IELTS is the only English language test accepted for immigration purposes by all countries that require one. <p>IELTS is accepted for entry into undergraduate and postgraduate courses in a number of educational institutions across the UAE, including the Higher Colleges of Technology.</p>
                <p>IELTS is an assessment of all of your English language skills - Reading, Writing, Listening and Speaking. 
                    It is developed by the world's leading experts in language assessmnet and designed to reflect how you will use your English at study, work and your new life abroad. IELTS is the widely accepted English language test that uses one-to-one speaking test to assess your communication skills.</p>
                <p>
                    It is the most effective and natural way of testing your English conversation skill, where you are assessed based on a real-life conversation with a person. You can take the IELTS Academic or General Training Test depending on the organization you are applying to.
                </p>
                <p>
                    The IELTS is designed to make the most of your language skills, whatever your reason for taking the test."
                </p>
            </div>
        </div>